/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@import url('http://fonts.cdnfonts.com/css/sf-ui-display');
:root {
  --amarelo: #fdba3b;
  --white: #ffff;
  --cyano: #5afefe;
  --salmon: #ec4b32;
  --yellow: #febe2b;
  --green: #57c656;
  --blue: #53a2e4;
  --purple: #c04ab9;
  --dark-purple: #5502fd;
}

body {
  font-family: 'SF UI Display', sans-serif;
  font-weight: 300;
  color: var(--white);
  background: linear-gradient(270deg, #17181a 0%, #121213 100%);
}
section {
  width: 100%;
  margin: 0 auto;
}
.hegth {
  height: 100vh;
}
aside {
  width: 100%;
  vertical-align: middle;
  background: fixed;
}
.bg-sponsor {
  height: 367px;
  background: linear-gradient(190deg, #121213 0%, rgba(0, 0, 0, 0) 100%),
    fixed url(../img/wirelessHeroOne.png) no-repeat;
  background-size: cover;
  background-position: right 30% bottom 55%;
  transform: skewY(-2deg);
}
.bg-texture {
}
/* h1 {
  color: var(--white);
  font-size: 3.875rem;
  font-weight: 700;
} */
.box-2deg {
  transform: skewY(-2deg);
}
.bdtop {
  border-top: solid 16px var(--amarelo);
}
.bdtop-cyan {
  border-top: solid 16px var(--cyano);
}
.box-0deg {
  transform: skewY(2deg);
}
.amarelo {
  color: var(--amarelo);
}
.rgb {
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #5afefe,
    #febe2b,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rgb 38s ease-in-out infinite;
  background-size: 800% 100%;
}
@keyframes rgb {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
.box-gradient {
  background: linear-gradient(to top, #121212, #17181a);
}
.box-gradient-dark {
  background: linear-gradient(to bottom, #050505, #101011);
}
.box-gradient-grey {
  background: linear-gradient(to top, #191919, #121213);
}
.cyano {
  color: var(--cyano);
}
.yellow {
  color: var(--amarelo);
}
.bd-yellow {
  border: solid 1px var(--amarelo);
}

/* BUTTON ANIMATED TAILWIND */
.button {
  min-width: 120px;
  max-width: 200px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
/* pulse */
.min {
  font-size: 0.01rem;
  position: absolute;
  top: 16px;
  left: 12px;
}
.button--moema {
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.button--moema::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -10px;
  bottom: -20px;
  right: -10px;
  background: inherit;
  border-radius: 8px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}

.button--moema:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}

.button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@tailwind utilities;
